:root{
    background-color: hsla(258, 100%, 50%, 0.3);
  
}
div{
  border:  black 1px solid;
  border-radius: 5px;
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: center;


}

.header{
  font-family: monospace;
  color: brown;
  text-decoration: underline;
}
.leftdiv{
height: 50px;
flex : 0.4;
margin-right: 40px;
}
.rightdiv{
height: 50px;
flex: 0.4;
margin-left: 40px;
}